doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="css/style.css")
		link(href='https://fonts.googleapis.com/css?family=Abril+Fatface', rel='stylesheet')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		title User Info App
	body
		.topnav
			a(href='/users') Users
			a(href='/signup') Sign Up
			a.active(href='/') Home
		.footer
			p Alea Incorporated
	block content