extends layout

block content
	if users
		h2 You've been matched!
		h3 These are the results of your search:
		p #{users.firstname} #{users.lastname}
		p Email: #{users.email}
		a(href='/users') Check out our other users here!

	else 
		h2 You're not signed up yet! :(
		h3 Join the party!
		a(href='/signup') Sign up here