extends layout

block content
	h1 Sign up here!
	form(method='POST' action='/signup')
		h3 :)
		input(type='text', name='firstname' placeholder='First Name')
		br
		input(type='text', name='lastname' placeholder='Last Name')
		br
		input(type='text', name='email' placeholder='Email Address')
		br
		button.btn.btn-primary(type='submit') Submit
